.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
    &--title {
        margin: 0;
    }
}

.nav--item {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    background-color: lightgray;
    color: black;
}