.banner {
  background-color: aquamarine;
  text-align: right;
  height: 200px;
  margin: 20px;
  padding: 10px;
}

.sales {
  margin: 20px;
  margin-bottom: 40px;

  &--title {
    text-align: center;
    text-transform: uppercase;
  }
}

.featured {
  margin: 20px;

  &--title {
    text-align: center;
    text-transform: capitalize;
  }
}