<h2>My cart</h2>

<div class="cart-item" *ngFor="let product of cartProducts$ | async; let i = index;">
    <img class="cart-item--image" [src]="product.imageUrl" [alt]="product.name">
    <p>{{ product.name }}</p>
    <p>{{ product.price }} грн</p>
    <div class="count">
        <button (click)="minusCount(product.id)">-</button>
        <p>{{ getCount(product.id) }}</p>
        <button (click)="plusCount(product.id)">+</button>
    </div>
    <p>{{ product.price * getCount(product.id) }}</p>
    <button (click)="deleteItem(i)">delete</button>
</div>