.featured-products {
  display: flex;
  justify-content: space-between;

  padding: 0 10px;
}
.featured-product {
  &--image {
    width: 250px;
    height: 200px;
  }
  &--name {
    cursor: pointer;
  }
}

.add-button {
  display: block;
  background-color: darkblue;
  border-color: darkblue; 
  color: white;
  padding: 5px;
  margin: auto;
}